{% extends 'AdminBundle:layouts:app.html.twig' %}

{% block content %}
    <h1>Management edit</h1>

    {{ form_start(edit_form) }}
    <div class="w-row">
        <div class="w-column w-col-4">
            <label>Owner</label>
        </div>
        <div class="w-column w-col-8">
            <select id="management_refOwnerId" name="management[refOwnerId]">
                {% for user in users %}
                    {% if user.id == management.refOwnerId %}
                        <option value="{{ user.id }}" selected>{{ user.username }}</option>
                    {% else %}
                        <option value="{{ user.id }}" >{{ user.username }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <input type="submit" value="Edit" />


    <ul>
        <li>
            <a href="{{ path('management_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

