{% extends 'AdminBundle:layouts:app.html.twig' %}
{% block content %}
<h1>Management list</h1>
<table id="myTable">
     <thead>
            <tr>
                <th>Id</th>
                <th>Brandname</th>
                <th>Companyname</th>
                <th>Taxnumber</th>
                <th>Organizationnumber</th>
                <th>Owner</ht>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for management in managements %}
            <tr>
                <td><a href="{{ path('management_show', { 'id': management[0].id }) }}">{{ management[0].id }}</a></td>
                <td>{{ management[0].brandName }}</td>
                <td>{{ management[0].companyName }}</td>
                <td>{{ management[0].taxNumber }}</td>
                <td>{{ management[0].organizationNumber }}</td>
                <td>{{ management['username'] }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('management_show', { 'id': management[0].id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('management_show', { 'id': management[0].id }) }}">select</a>
                        </li>
                        <li>
                            <a href="{{ path('management_edit', { 'id': management[0].id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('management_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
{% block feet %}
    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable();
        });
    </script>
{% endblock %}